* {
    font-family: 'Raleway', sans-serif;
}


/* ============================= Menu de navegação - Início =====================================*/

.navbar-light .navbar-brand {
    color: crimson;
    font-size: 1.6em;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: darkslategray;
    font-weight: lighter;
    letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    font-weight: bold;
}

/* ============================= Menu de navegação - Fim ========================================*/

/* ============================= Banner Principal Início==========================================*/

.background-content1 {
    background-image: url('../imagens/Switzerland.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: tan;
    background-blend-mode: multiply;
}

.background-content2 {
    background-image: url('../imagens/1600x1200-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-content3 {
    background-image: url('../imagens/1600x1200-9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: burlywood;
    background-blend-mode: multiply;
}

/* aumentar o tamanho da imagem */
.banner-text{
    height: 92vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.banner-text h2{
    text-align: center;
    color: white;
    font-size: 3.5em;
    text-transform: uppercase;
    padding-top: 5%;
    font-weight: bolder;
}


.text {
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.banner-text p{
    text-align: center;
    color: white;
    padding: 0 15%;
    font-weight: 500;
    font-size: 1em;
}

/* Dots */

.dots-container{
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-top: -3%;
}

.dot{
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.active, .dot:hover{
    background-color: #717171;
}


/* Fading animation */
.fadein {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

/* ============================= Banner Principal Fim==========================================*/

/* ============================= Main Content Início==========================================*/

section .img-main-content{
    position: relative;
    /* border:1px solid white; */
    overflow: hidden;
    border: 0.5px solid white;
    -webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);
}

section .img-main-content .caption{
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
    padding: 2%;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

/* ========================== Main COntent Fim =============================================== */

/* ========================== Why Choose us Início ============================================ */

section .choose-content{
    background-image: url(../imagens/Switzerland.jpg);
    height: 400px;
    background-attachment: fixed;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: #717171;
    background-blend-mode: overlay;
}

.choose-content div h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width: 100%;
    color: white;
    font-weight: bold;
}

.choose-content div p{
    text-align: center;
    font-size: 1.0em;
    width: 100%;
    color: white;
    padding: 0 20px;
}

/* ========================== Why Choose us Fim ==============================================  */

/* ========================== Galeria Início Início ==========================================  */

.gallery-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-content button {
    background: black;
    color: #fff;
    padding: 0.3em 1.2em;
    border: 0;
}

.gallery-content button:hover{
    background-color: crimson;
}

/* Modal Início */

.modal {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-image: url(../imagens/praga1.jpg);
    background-size: cover;
    background-position: center;
    margin: 20% auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    height: 50%;
    width: 80%;
    position: relative;
}

/* Modal Fim */

.closeBtn{
    color: black;
    float: right;
    font-size: 30px;
    position: absolute;
    padding-left: 2%;
}

.closeBtn:hover,.closeBtn:focus{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* ========================== Galeria Fim ==========================================  */

/* Footer */
footer{
    background-color: black;
    margin-top: 3%;
}

footer div{
    color: #fff;
}
